/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

/* Navbar container */
.navBar {
  background-color: #7dcea0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
 
/* Navbar items */
.navBarItem {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
 
.navBarItem:hover {
  background-color: #5da88a;
  transform: scale(1.05);
  border-radius: 5px;
}
 
/* Responsive design */
@media (max-width: 768px) {
  .navBar {
    flex-direction: column;
  }
 
  .navBarItem {
    margin: 5px 0;
    width: 100%;
    text-align: center;
  }
}


/* Home Page */
.homePage {
  height: 100vh;
  width: 100%;
  background-image: url('C:\Users\Korisnik\internet-tehnologije-projekat-interaktivnikalendar_2020_0095\react_aplikacija\images\paper-3213924_1920.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  position: relative;
}
 
/* Text Overlay */
.homeTextOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent overlay */
}
 
/* Show the text on hover */
.homePage:hover .homeTextOverlay {
  opacity: 1;
}
 
/* Home Text */
.homeText {
  color: white;
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
